//
//  Visually Hidden
//  -------------------------

//  Hide elements visually but remain available to screenreaders.

.visuallyHidden {
    @extend .position-absolute;
    height: 1px;
    width: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    @extend .overflow-hidden;
    padding: 0;
}