//
// Letter spacing
// -------------

.letterSpacing-l  { letter-spacing: 1.4px; }
.letterSpacing-m  { letter-spacing: .4px; }
.letterSpacing-s  { letter-spacing: -.6px; }
.letterSpacing-xs { letter-spacing: -1px; }
.letterSpacing-0  { letter-spacing: 0; }
