//
// Aspect ratios
// -------------

.aspectRatio {
    @extend .position-relative;
}

.aspectRatio-content {
    @extend .posPinTL;
    @extend .width-100;
    @extend .height-100;
}

.aspectRatio--100:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.aspectRatio--75:before {
    content: "";
    display: block;
    padding-top: 75%;
}

.aspectRatio--60:before {
    content: "";
    display: block;
    padding-top: 60%;
}

.aspectRatio--16-9:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}
