//
//  Centered
//  -------------------------

//  Center an element horizontally.

.centered {
    margin-left: auto;
    margin-right: auto;
}

@include breakPoint(s) {
    .breakPointS-centered {
        margin-left: auto;
        margin-right: auto;
    }
}

@include breakPoint(m) {
    .breakPointM-centered {
        margin-left: auto;
        margin-right: auto;
    }
}

@include breakPoint(l) {
    .breakPointL-centered {
        margin-left: auto;
        margin-right: auto;
    }
}
