//
// Hidden
// -------------------------

// Hide from both screenreaders and browsers

.hidden {
    display: none !important;
    @extend .visibility-hidden;
}

//
// Visually hide something so that you can apply transition
// -------------------------

.concealed {
	opacity: 0; visibility: hidden;
}

.disclosed {
	opacity: 1; visibility: visibile;
}
