//
// Truncate Text
// -------------------------

// Clip overflowing text and append 3 dots to the end of
// the text span.

.truncateText {
    @extend .display-block;
    @extend .overflow-hidden;
    @extend .textOverflow-ellipsis;
    @extend .whiteSpace-nowrap;
}

.truncateText-two {
    @extend .overflow-hidden;
    @extend .wordWrap-breakWord;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
