//
// Border Width
// -------------

.borderWidth-0                        { border-width: 0; }
.borderWidth-1                        { border-width: 1px; }
.borderTopWidth-1                     { border-top-width: 1px; }
.borderRightWidth-1                   { border-right-width: 1px; }
.borderBottomWidth-1                  { border-bottom-width: 1px; }
.borderLeftWidth-1                    { border-left-width: 1px; }

@include breakPoint(s) {
    .breakPointS-borderWidth-0  { border-width: 0; }
    .breakPointS-borderWidth-1  { border-width: 1px; }
    .breakPointS-borderTopWidth-1 { border-width: 0; border-top-width: 1px; }
    .breakPointS-borderRightWidth-1 { border-width: 0; border-right-width: 1px; }
    .breakPointS-borderBottomWidth-1 { border-width: 0; border-bottom-width: 1px; }
    .breakPointS-borderLeftWidth-1 { border-width: 0; border-left-width: 1px; }
}

@include breakPoint(m) {
    .breakPointM-borderWidth-0  { border-width: 0; }
    .breakPointM-borderWidth-1  { border-width: 1px; }
    .breakPointM-borderTopWidth-1 { border-width: 0; border-top-width: 1px; }
    .breakPointM-borderRightWidth-1 { border-width: 0; border-right-width: 1px; }
    .breakPointM-borderBottomWidth-1 { border-width: 0; border-bottom-width: 1px; }
    .breakPointM-borderLeftWidth-1 { border-width: 0; border-left-width: 1px; }
}

@include breakPoint(l) {
    .breakPointL-borderWidth-0  { border-width: 0; }
    .breakPointL-borderWidth-1  { border-width: 1px; }
    .breakPointL-borderTopWidth-1 { border-width: 0; border-top-width: 1px; }
    .breakPointL-borderRightWidth-1 { border-width: 0; border-right-width: 1px; }
    .breakPointL-borderBottomWidth-1 { border-width: 0; border-bottom-width: 1px; }
    .breakPointL-borderLeftWidth-1 { border-width: 0; border-left-width: 1px; }
}
