//
// Text Decoration
// -------------

.textDecoration-none        { text-decoration: none; }
.textDecoration-underline   { text-decoration: underline; }
.textDecoration-overline    { text-decoration: overline; }
.textDecoration-lineThrough { text-decoration: line-through; }
.textDecoration-inherit     { text-decoration: inherit; }
