//
// Text Transform
// -------------

.textTransform-none       { text-transform: none; }
.textTransform-capitalize { text-transform: capitalize; }
.textTransform-uppercase  { text-transform: uppercase; }
.textTransform-lowercase  { text-transform: lowercase; }
