//
// Transition Property
// -------------

.transitionProperty-none       { transition-property: none; }
.transitionProperty-all        { transition-property: all; }
.transitionProperty-inherit    { transition-property: inherit; }
.transitionProperty-color      { transition-property: color; }
.transitionProperty-background { transition-property: background; }
.transitionProperty-width      { transition-property: width; }
.transitionProperty-height     { transition-property: height; }
.transitionProperty-top        { transition-property: top; }
.transitionProperty-right      { transition-property: right; }
.transitionProperty-bottom     { transition-property: bottom; }
.transitionProperty-left       { transition-property: left; }
.transitionProperty-scale      { transition-property: scale; }
.transitionProperty-transform  { transition-property: transform; }
.transitionProperty-opacity    { transition-property: opacity; }
