//
// White Space
// -------------

.ws-normal          { white-space: normal; }
.whiteSpace-nowrap  { white-space: nowrap; }
.whiteSpace-pre     { white-space: pre; }
.whiteSpace-preLine { white-space: pre-line; }
.whiteSpace-preWrap { white-space: pre-wrap; }
