//
// Animations
// -------------------------

// Spin animation
// -------------------------

@keyframes spin {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}

.animation-spin {
    animation: spin 0.8s infinite linear;
}

// Bounce animation
// -------------------------

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.animation-bounce {
    animation: bounce 1800ms 4 cubic-bezier(0.075, 0.820, 0.165, 1.000);
}
