//
// Transition delay
// -------------------------

$transitionDelay-xxl: 700ms;
$transitionDelay-xl: 500ms;
$transitionDelay-l: 300ms;
$transitionDelay-m: 150ms;
$transitionDelay-s: 80ms;
$transitionDelay-0: 0;

.transitionDelay-xxl { transition-delay: $transitionDelay-xxl; }
.transitionDelay-xl  { transition-delay: $transitionDelay-xl; }
.transitionDelay-l   { transition-delay: $transitionDelay-l; }
.transitionDelay-m   { transition-delay: $transitionDelay-m; }
.transitionDelay-s   { transition-delay: $transitionDelay-s; }
.transitionDelay-0   { transition-delay: $transitionDelay-0; }
