//
// Transition Timing Function
// -------------
$transitionTimingFunction-cb--scaleUp: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$transitionTimingFunction-cb--scaleOut: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$transitionTimingFunction-cb--scaleIn: cubic-bezier(0.000, 0.890, 0.440, 1.000);
$transitionTimingFunction-cv-easeOutCircular: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$transitionTimingFunction-cv-easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);


.transitionTimingFunction-linear                { transition-timing-function: linear; }
.transitionTimingFunction-ease                  { transition-timing-function: ease; }
.transitionTimingFunction-ease-in               { transition-timing-function: ease-in; }
.transitionTimingFunction-ease-out              { transition-timing-function: ease-out; }
.transitionTimingFunction-ease-in-out           { transition-timing-function: ease-in-out; }

// Hover transitions
// -------------

.transitionTimingFunction-cb--scaleUp           { transition-timing-function: $transitionTimingFunction-cb--scaleUp; }

// Modal transitions
// -------------

.transitionTimingFunction-cb--scaleOut          { transition-timing-function: $transitionTimingFunction-cb--scaleOut; }
.transitionTimingFunction-cb--scaleIn           { transition-timing-function: $transitionTimingFunction-cb--scaleIn; }
.transitionTimingFunction-cv-easeOutCircular    { transition-timing-function: $transitionTimingFunction-cv-easeOutCircular; }
.transitionTimingFunction-cv-easeInOutBack      { transition-timing-function: $transitionTimingFunction-cv-easeInOutBack; }
