//
// Checkboxes and radio buttons
// -------------------------

$checkBox-size: 30px;

.form-control {
    @extend .position-relative;
    @extend .display-inlineBlock;
    @extend .cursor-pointer;

    padding-left: $checkBox-size + 15;
    line-height: $checkBox-size;
}

.form-control input {
    @extend .position-absolute;
    @extend .opacity-0;
    @extend .zi-negative;
}

.form-control-indicator {
    @extend .posPinTL;
    @extend .display-block;

    @extend .bg-white;

    @extend .userSelect-none;
    @extend .boxSizing-borderBox;

    @extend .transitionDuration-xl;
    @extend .transitionProperty-all;
	@extend .transitionTimingFunction-cb--scaleIn;

    width: $checkBox-size;
    height: $checkBox-size;
    box-shadow: inset 0 0 0 2px $smoke;
}

.checkbox-tick {
    @extend .opacity-0;
    @extend .fill-white;

    @extend .transitionDuration-xl;
    @extend .transitionProperty-all;
	@extend .transitionTimingFunction-cb--scaleIn;

    width: $checkBox-size;
    height: $checkBox-size;
    transform: scale(0);
}

.radio-tick {
    width: $checkBox-size / 2 - 2;
    height: $checkBox-size / 2 - 2;

    @extend .bg-white;
    @extend .opacity-0;
    @extend .absolutelyCenter;
    @extend .borderRadius-circle;

    @extend .transitionDuration-xl;
    @extend .transitionProperty-all;
	@extend .transitionTimingFunction-cb--scaleIn;
}

.form-control:hover .form-control-indicator {
    @extend .bg-snow--d;
}

//
// Checked state
// -------------------------

.form-control input:checked ~ .form-control-indicator {
    box-shadow: inset 0 0 0 $checkBox-size / 2 $positive;
    @extend .transitionDuration-xl;
    @extend .transitionProperty-all;
	@extend .transitionTimingFunction-cb--scaleIn;
}

//
// Active state
// -------------------------

.form-control input:active ~ .form-control-indicator {
    box-shadow: inset 0 0 0 $checkBox-size / 2 $green--d;
    @extend .transitionDuration-xl;
    @extend .transitionProperty-all;
	@extend .transitionTimingFunction-cb--scaleIn;
}

//
// Checkbox modifiers
// -------------------------

.checkbox .form-control-indicator {
    @extend .borderRadius-circle;
}

.checkbox input:checked ~ .form-control-indicator .checkbox-tick {
    @extend .opacity-100;
    @extend .transitionDelay-l;
    @extend .transitionDuration-xl;
    @extend .transitionProperty-all;
	@extend .transitionTimingFunction-cb--scaleIn;
    transform: scale(1);
}

//
// Radio modifiers
// -------------------------

.radio .form-control-indicator {
    @extend .borderRadius-circle;
}

.radio input:checked ~ .form-control-indicator .radio-tick {
    @extend .opacity-100;
}
