//
// Checkboxes and radio buttons
// -------------------------

$formControl-s: 20px;
$formControl-m: 30px;

.form-control {
    @extend .position-relative;
    @extend .display-inlineBlock;
    @extend .cursor-pointer;
}

.form-control input {
    @extend .position-absolute;
    @extend .opacity-0;
    @extend .zi-negative;
}

.form-control-indicator {
    @extend .posPinTL;
    @extend .display-block;

    @extend .bg-white;

    @extend .userSelect-none;
    @extend .boxSizing-borderBox;

    @extend .transitionDuration-xl;
    @extend .transitionProperty-all;
	@extend .transitionTimingFunction-cb--scaleIn;

    box-shadow: inset 0 0 0 2px $smoke;
}

.checkbox-tick {
    @extend .opacity-0;
    @extend .fill-white;

    @extend .transitionDuration-xl;
    @extend .transitionProperty-all;
	@extend .transitionTimingFunction-cb--scaleIn;

    transform: scale(0);
}

.radio-tick {
    @extend .bg-white;
    @extend .opacity-0;
    @extend .absolutelyCenter;
    @extend .borderRadius-circle;

    @extend .transitionDuration-xl;
    @extend .transitionProperty-all;
	@extend .transitionTimingFunction-cb--scaleIn;
}

.form-control:hover .form-control-indicator {
    @extend .bg-snow--d;
}

//
// Checked state
// -------------------------

.form-control input:checked ~ .form-control-indicator {
    transition-property: all;
    transition-duration: $transitionDuration-xl;
	transition-timing-function: $transitionTimingFunction-cb--scaleIn;
}

//
// Active state
// -------------------------

.form-control input:active ~ .form-control-indicator {
    transition-property: all;
    transition-duration: $transitionDuration-xl;
	transition-timing-function: $transitionTimingFunction-cb--scaleIn;
}

//
// Checkbox modifiers
// -------------------------

.checkbox .form-control-indicator {
    @extend .borderRadius-circle;
}

.checkbox input:checked ~ .form-control-indicator .checkbox-tick {
    opacity: 100;
    transition-property: all;
    transition-delay: $transitionDelay-l;
    transition-duration: $transitionDuration-xl;
	transition-timing-function: $transitionTimingFunction-cb--scaleIn;
    transform: scale(1);
}

//
// Radio modifiers
// -------------------------

.radio .form-control-indicator {
    @extend .borderRadius-m;
}

.radio input:checked ~ .form-control-indicator .radio-tick {
    opacity: 100;
}

//
// Small checkbox size
// -------------------------

.form-control--s {
    padding-left: $formControl-s + $formControl-s / 2;
    line-height: $formControl-s;
}

.form-control--s .form-control-indicator {
    width: $formControl-s;
    height: $formControl-s;
}

.form-control--s .checkbx-tick {
    width: $formControl-s;
    height: $formControl-s;
}

.form-control--s .radio-tick {
    width: $formControl-s / 2 - 2;
    height: $formControl-s / 2 - 2;
}

.form-control--s input:checked ~ .form-control-indicator {
    box-shadow: inset 0 0 0 $formControl-s / 2 $positive;
}

.form-control--s input:active ~ .form-control-indicator {
    box-shadow: inset 0 0 0 $formControl-s / 2 $green--d;
}

//
// Medium checkbox size
// -------------------------

.form-control--m {
    padding-left: $formControl-m + $formControl-m / 2;
    line-height: $formControl-m;
}

.form-control--m .form-control-indicator {
    width: $formControl-m;
    height: $formControl-m;
}

.form-control--m .checkbx-tick {
    width: $formControl-m;
    height: $formControl-m;
}

.form-control--m .radio-tick {
    width: $formControl-m / 2 - 2;
    height: $formControl-m / 2 - 2;
}

.form-control--m input:checked ~ .form-control-indicator {
    box-shadow: inset 0 0 0 $formControl-m / 2 $positive;
}

.form-control--m input:active ~ .form-control-indicator {
    box-shadow: inset 0 0 0 $formControl-m / 2 $green--d;
}
