//
// Links
// -------------------------

// Root component
// -------------------------

.link,
.link:link {
    @extend .textDecoration-none;
    @extend .cursor-pointer;
    @extend .transitionDuration-m;
}

.link:focus {
    outline: thin dotted;
    outline: 1px auto -webkit-focus-ring-color;
    outline-offset: 3px;
}

// Underline
// -------------------------

.link--underline {
    @extend .backgroundRepeat-repeatX;

    background-size: 2px 2px;
    background-position: 0 23px;
}

// Light link
// -------------------------

.link--light {
    @extend .c-silver;
    @extend .c-black--hover;
}

.link--light.is-active {
    @extend .c-marvel;
    @extend .c-blue--d--hover;
}

.link--light.link--underline {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $silver 50%);
}

.link--light.is-active.link--underline {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $marvel 50%);
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .link--light.link--underline {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, $silver 75%);
    }

    .link--light.is-active.link--underline {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, $marvel 75%);
    }
}

// Light link (reversed)
// -------------------------

.link--lightReversed {
    @extend .c-silver;
    @extend .c-white--hover;
}

.link--lightReversed.is-active {
    @extend .c-white;
    @extend .c-white--hover;
}

.link--lightReversed.link--underline {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $silver 50%);
}

.link--lightReversed.is-active.link--underline {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $white 50%);
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .link--lightReversed.link--underline {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, $silver 75%);
    }

    .link--lightReversed.is-active.link--underline {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, $white 75%);
    }
}

// Dark link
// -------------------------

.link--dark {
    @extend .c-slate;
    @extend .c-black--hover;
}

.link--dark.link--underline {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $slate 50%);
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .link--dark.link--underline {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, $slate 75%);
    }
}

// Negative link
// -------------------------

.link--negative {
    @extend .c-silver;
    @extend .c-negative--hover;
}

// Colourful link styles
// -------------------------

.link--blue {
    @extend .c-blue;
    @extend .c-blue--d--hover;
}

.link--green {
    @extend .c-green;
    @extend .c-green--d--hover;
}

.link--orange {
    @extend .c-orange;
    @extend .c-orange--d--hover;
}

.link--pink {
    @extend .c-pink;
    @extend .c-pink--d--hover;
}

.link--purple {
    @extend .c-purple;
    @extend .c-purple--d--hover;
}

.link--red {
    @extend .c-red;
    @extend .c-red--d--hover;
}

// Opacity link styles
// -------------------------

.link--opaque {
    @extend .c-white;
    @extend .breakPointM-opacity-60;
    @extend .opacity-100--hover;
}

.link--opaque.is-active {
    @extend .c-white;
    @extend .opacity-100;
    @extend .c-white--hover;
}

.link--opaqueReversed {
    @extend .c-white;
    @extend .opacity-100;
    @extend .opacity-60--hover;
}

// Background link styles
// -------------------------

.link--snowBg {
    @extend .c-slate;
    @extend .bg-snow--hover;
}
