//
// Modal
// -------------------------

.modal {
    @extend .position-relative;
    @extend .centered;
    @extend .cf;

    @extend .concealed;
    @extend .transformStyle-preserve3d;

    transform: scale(0.5);

    @extend .transitionProperty-all;
    @extend .transitionDuration-l;
    @extend .transitionTimingFunction-cb--scaleOut;
}

.modal:not(.modal--borderless) {
    @extend .padding-m;
    @extend .bg-white;
    @extend .borderWidth-1;
    @extend .borderStyle-solid;
    @extend .borderColor-smoke;
    @extend .borderRadius-l;

    @extend .boxShadow-distant;
    @extend .breakPointS-padding-l;
}

// Size variations
// -------------------------

.modal--s {
    max-width: 500px;
}

.modal--m {
    max-width: 800px;
}

// Modal icons
// -------------------------

$modal-icon-size--s: 30px;
$modal-icon-size--m: 40px;

.modal-image,
.modal-icon-wrapper {
    @extend .concealed;
    @extend .transitionDuration-xl;
    @extend .transitionProperty-all;
    @extend .transitionTimingFunction-ease-in-out;
}

.modal-icon {
    @extend .transitionDuration-m;
    @extend .transitionProperty-all;

    @extend .cursor-pointer;
    @extend .borderRadius-circle;

    @extend .backgroundRepeat-noRepeat;
    @extend .backgroundPosition-centerCenter;

    top: 15px;
}

.modal-icon:not(.modal-icon--s) {
    width: $modal-icon-size--m;
    height: $modal-icon-size--m;
}

.modal-icon--s {
    width: $modal-icon-size--s;
    height: $modal-icon-size--s;
}

.modal-icon:before,
.modal-icon:after {
    @extend .display-block;
    @extend .absolutelyCenter;
}

.modal-iconClose {
    @extend .posPinTR;
    right: 15px;
}

.modal-iconBack {
    @extend .posPinTL;
    left: 15px;
}

@include breakPoint(m) {
    .modal-icon:not(.modal-icon--s).modal-iconClose:not(.modal-iconClose--outside) {
        top: -$modal-icon-size--m;
        right: -($modal-icon-size--m + 10);
    }

    .modal-icon:not(.modal-icon--s).modal-iconBack:not(.modal-iconBack--outside) {
        top: -$modal-icon-size--m;
        left: -($modal-icon-size--m + 10);
    }

    .modal-icon--s.modal-iconClose:not(.modal-iconClose--outside) {
        top: -$modal-icon-size--s;
        right: -($modal-icon-size--s + 10);
    }

    .modal-icon--s.modal-iconBack:not(.modal-iconBack--outside) {
        top: -$modal-icon-size--s;
        left: -($modal-icon-size--s + 10);
    }

    .modal-iconClose--outside {
        top: 30px;
        right: 40px;
    }

    .modal-iconBack--outside {
        top: 30px;
        left: 40px;
    }
}

.modal-iconClose:before,
.modal-iconClose:after {
    content: "";
    border-radius: 2px;
}

.modal-icon:not(.modal-icon--s).modal-iconClose:before,
.modal-icon:not(.modal-icon--s).modal-iconClose:after {
    width: 16px;
    height: 2px;
    margin: -1px 0 0 -8px;
}

.modal-icon--s.modal-iconClose:before,
.modal-icon--s.modal-iconClose:after {
    width: 12px;
    height: 2px;
    margin: -1px 0 0 -6px;
}

.modal-iconClose:before {
    transform: rotate(45deg);
}

.modal-iconClose:after {
    transform: rotate(-45deg);
}

.modal-iconBack:before,
.modal-iconBack:after {
    content: "";
    border-radius: 2px;
}

.modal-iconBack:before {
    left: 50%;
    transform: rotate(45deg);
}

.modal-iconBack:after {
    left: 50%;
    transform: rotate(-45deg);
}

.modal-icon:not(.modal-icon--s).modal-iconBack:before,
.modal-icon:not(.modal-icon--s).modal-iconBack:after {
    width: 10px;
    height: 2px;
}

.modal-icon:not(.modal-icon--s).modal-iconBack:before {
    top: auto;
    bottom: 16px;
    margin-left: -7px;
}

.modal-icon:not(.modal-icon--s).modal-iconBack:after {
    top: 16px;
    margin-left: -7px;
}



.modal-icon--s.modal-iconBack:before,
.modal-icon--s.modal-iconBack:after {
    width: 9px;
    height: 2px;
}

.modal-icon--s.modal-iconBack:before {
    top: auto;
    bottom: 11px;
    margin-left: -6px;
}

.modal-icon--s.modal-iconBack:after {
    top: 11px;
    margin-left: -6px;
}

// Modal icon colors
// -------------------------

.modal-icon--light {
    @extend .bg-snow--xd;
    @extend .bg-marvel--hover;
}

.modal-icon--light.modal-iconClose:before,
.modal-icon--light.modal-iconClose:after,
.modal-icon--light.modal-iconBack:before,
.modal-icon--light.modal-iconBack:after {
    @extend .bg-silver;
    @extend .bg-white--hover;
}

.modal-icon--dark {
    @extend .bg-smoke;
    @extend .bg-marvel--hover;
}

.modal-icon--dark.modal-iconClose:before,
.modal-icon--dark.modal-iconClose:after {
    @extend .bg-smoke--xd;
    @extend .bg-white--hover;
}

.modal-icon--universal {
    @extend .bg-licorice--transparent;
    @extend .bg-licorice--translucent--hover;
}

.modal-icon--universal.modal-iconClose:before,
.modal-icon--universal.modal-iconClose:after {
    @extend .bg-white;
}

// Modal subtext
// -------------------------

.modal-subtext {
    @extend .concealed;
    @extend .transitionDuration-xl;
    @extend .transitionProperty-all;
    @extend .transitionTimingFunction-cv-easeOutCircular;
    @extend .textAlign-center;
    @extend .fontWeight-3;
}

.modal-subtext--after {
    @extend .marginTop-l;
    @extend .marginBottom-m;
    @extend .breakPointM-marginBottom-0;

    transform: translateY(30px);
}

.modal-subtext--before {
    @extend .marginTop-m;
    @extend .marginBottom-l;
    @extend .breakPointM-marginTop-0;

    transform: translateY(-30px);
}

// White screen
// -------------------------

// TODO: ".overlay", ".overlay.activated" & ".overlay.activated .modal"
// have to be removed once we have time to tidy up JS
// -------------------------

.modal-overlay,
.overlay {
  	@extend .posFixAll;
  	@extend .concealed;

    @extend .transitionDuration-l;
    @extend .transitionProperty-all;
    @extend .transitionTimingFunction-ease-in-out;

  	@extend .bg-white--translucent;
  	@extend .zi-overlay;
    @extend .overflowY-scroll;
}

.modal-container {
    @extend .posPinAll;
    @extend .transitionDuration-l;
    @extend .transitionProperty-all;
    @extend .transitionTimingFunction-ease-in-out;
}

// Activated modals and animations
// -------------------------

// In the next lines '> div:not(.concealed)' is needed to make
// the switch between different states of the same modal smooth.
// -------------------------

.modal-overlay.is-active,
.overlay.activated {
    @extend .disclosed;
    @extend .transitionDuration-l;
    @extend .transitionProperty-all;
    -webkit-overflow-scrolling: touch;
}

.modal-overlay.is-active > div:not(.concealed) .modal,
.overlay.activated > div:not(.concealed) .modal {
    transform: scale(1);

    visibility: visible;
    opacity: 1;

    transition-property: all;
    transition-duration: $transitionDuration-l;
    transition-timing-function: $transitionTimingFunction-cb--scaleOut;
}

.modal-overlay.is-active > div:not(.concealed) .modal-subtext,
.overlay.activated > div:not(.concealed) .modal-subtext {
    transform: translateY(0);

    visibility: visible;
    opacity: 1;

    transition-property: all;
    transition-delay: $transitionDelay-m;
    transition-duration: $transitionDuration-xl;
    transition-timing-function: $transitionTimingFunction-cv-easeOutCircular;
}

.modal-overlay.is-active > div:not(.concealed) .modal-image,
.overlay.activated > div:not(.concealed) .modal-image,
.modal-overlay.is-active > div:not(.concealed) .modal-icon-wrapper,
.overlay.activated > div:not(.concealed) .modal-icon-wrapper {
    visibility: visible;
    opacity: 1;

    transition-property: all;
    transition-delay: $transitionDelay-l;
    transition-duration: $transitionDuration-xl;
    transition-timing-function: ease-in-out;
}
