//
// Modal
// -------------------------

.modal {
    @extend .position-relative;
    @extend .padding-m;

    @extend .bg-white;
    @extend .borderWidth-1;
    @extend .borderStyle-solid;
    @extend .borderColor-smoke;
    @extend .borderRadius-l;

    @extend .boxShadow-distant;
    @extend .centered;
    @extend .cf;

    @extend .concealed;
    @extend .transformStyle-preserve3d;
    transform: scale(0.5);
    @extend .transitionProperty-all;
    @extend .transitionDuration-l;
    @extend .transitionTimingFunction-cb--scaleOut;

    @extend .breakPointS-padding-l;
}

// Size variations
// -------------------------

.modal--s {
    max-width: 500px;
}

.modal--m {
    max-width: 800px;
}

// Modal icons
// -------------------------

$modal-icon-size: 30px;

.modal-icon-wrapper {
    @extend .concealed;
    @extend .transitionDuration-xl;
    @extend .transitionProperty-all;
    @extend .transitionTimingFunction-easeInOut;
}

.modal-icon {
    @extend .transitionDuration-m;
    @extend .transitionProperty-all;

    @extend .cursor-pointer;
    @extend .borderRadius-circle;

    @extend .backgroundRepeat-noRepeat;
    @extend .backgroundPosition-centerCenter;

    width: $modal-icon-size;
    height: $modal-icon-size;
    top: 15px;
}

.modal-icon:before,
.modal-icon:after {
    @extend .display-block;
    @extend .absolutelyCenter;
}

.modal-iconClose {
    @extend .posPinTR;
    right: 15px;
}

.modal-iconBack {
    @extend .posPinTL;
    left: 15px;
}

@include breakPoint(m) {
    .modal-iconClose {
        top: -$modal-icon-size;
        right: -($modal-icon-size + 10);
    }

    .modal-iconBack {
        top: -$modal-icon-size;
        left: -($modal-icon-size + 10);
    }
}

.modal-iconClose:before,
.modal-iconClose:after, {
    width: 14px;
    height: 2px;
    content: "";
    margin: -1px 0 0 -7px;
    border-radius: 2px;
}

.modal-iconClose:before {
    transform: rotate(45deg);
}

.modal-iconClose:after {
    transform: rotate(-45deg);
}

.modal-iconBack:before,
.modal-iconBack:after {
    width: 10px;
    height: 2px;
    content: "";
    border-radius: 2px;
}

.modal-iconBack:before {
    top: auto;
    left: 50%;
    bottom: 11px;
    margin-left: -6px;
    transform: rotate(45deg);
}

.modal-iconBack:after {
    top: 11px;
    left: 50%;
    margin-left: -6px;
    transform: rotate(-45deg);
}

// Modal icon colors
// -------------------------

.modal-icon--light {
    @extend .bg-snow--d;
    @extend .bg-marvel--hover;
}

.modal-icon--light.modal-iconClose:before,
.modal-icon--light.modal-iconClose:after,
.modal-icon--light.modal-iconBack:before,
.modal-icon--light.modal-iconBack:after {
    @extend .bg-smoke--d;
    @extend .bg-white--hover;
}

.modal-icon--dark {
    @extend .bg-smoke;
    @extend .bg-marvel--hover;
}

.modal-icon--dark.modal-iconClose:before,
.modal-icon--dark.modal-iconClose:after {
    @extend .bg-smoke--xd;
    @extend .bg-white--hover;
}

.modal-icon--universal {
    @extend .bg-licorice--transparent;
    @extend .bg-licorice--translucent--hover;
}

.modal-icon--universal.modal-iconClose:before,
.modal-icon--universal.modal-iconClose:after {
    @extend .bg-white;
}

// Modal subtext
// -------------------------

.modal-subtext {
    @extend .concealed;
    @extend .transitionDuration-xl;
    @extend .transitionProperty-all;
    @extend .transitionTimingFunction-cv-easeOutCircular;
    @extend .textAlign-center;
    @extend .fontWeight-3;
}

.modal-subtext--after {
    @extend .marginTop-l;
    @extend .marginBottom-m;
    @extend .breakPointM-marginBottom-0;

    transform: translateY(30px);
}

.modal-subtext--before {
    @extend .marginTop-m;
    @extend .marginBottom-l;
    @extend .breakPointM-marginTop-0;

    transform: translateY(-30px);
}


// White screen
// -------------------------

// TODO: ".overlay", ".overlay.activated" & ".overlay.activated .modal"
// have to be removed once we have time to tidy up JS
// -------------------------

.modal-overlay,
.overlay {
  	@extend .posFixAll;
  	@extend .concealed;

    @extend .transitionDuration-l;
    @extend .transitionProperty-all;
    @extend .transitionTimingFunction-ease-in-out;

  	@extend .bg-white--translucent;
  	@extend .zi-overlay;
    @extend .overflowY-scroll;
}

.modal-overlay.is-active,
.overlay.activated {
    @extend .disclosed;
    @extend .transitionDuration-l;
    @extend .transitionProperty-all;
    -webkit-overflow-scrolling: touch;
}

.modal-overlay.is-active .modal,
.overlay.activated .modal {
    transform: scale(1);

    @extend .disclosed;
    @extend .transitionProperty-all;
    @extend .transitionDuration-l;
    @extend .transitionTimingFunction-cb--scaleOut;
}

.modal-overlay.is-active .modal-subtext,
.overlay.activated .modal-subtext {
    transform: translateY(0);

    @extend .disclosed;
    @extend .transitionDelay-m;
    @extend .transitionDuration-xl;
    @extend .transitionProperty-all;
    @extend .transitionTimingFunction-cv-easeOutCircular;
}

.modal-overlay.is-active .modal-icon-wrapper,
.overlay.activated .modal-icon-wrapper {
    @extend .disclosed;
    @extend .transitionDelay-l;
    @extend .transitionDuration-xl;
    @extend .transitionProperty-all;
    @extend .transitionTimingFunction-easeInOut;
}
