//
// Popovers
// -------------------------

.popover {
    @extend .position-absolute;
    @extend .zi-chrome;

    @extend .bg-white;
    @extend .borderWidth-0; // TODO: remove when old website code is deleted
    @extend .borderRadius-m;
    @extend .boxShadow-subtle;

    @extend .concealed;
}

// Popover has stuff
// -------------------------

.popover.has-caret:after {
    @extend .position-absolute;
    @extend .display-block;

    @extend .bg-white;
    @extend .borderRadius-s;

    width: 14px;
    height: 14px;

    content: "";
    transform: rotate(45deg);
}

.popover.is-visible {
    @extend .disclosed;
}

// TODO:
// Move the trigger in the JS to keep it consistent
// -------------------------

.popover-trigger:hover .popover {
    @extend .is-visible;
}

// Popover sizes
// -------------------------

.popover--s {
    width: 200px;
}

.popover--m {
    width: 300px;
}

.popover--l {
    width: 400px;
}

// Popover positioning
// -------------------------

.popover--horizontallyCentered {
    left: 50%;
    transform: translateX(-50%);
}

.popover--horizontallyCentered:after {
    margin-left: -7px;
    left: 50%;
}

.popover--verticallyCentered {
    top: 50%;
    transform: translateY(-50%);
}

.popover--verticallyCentered:after {
    margin-top: -7px;
    top: 50%;
}

// Popover top
// -------------------------

.popover--top {
    @extend .popover--horizontallyCentered;
    @extend .marginBottom-0;
    bottom: 100%;
}

.popover--top.is-visible {
    @extend .marginBottom-m;
}

.popover--top.has-caret:after {
    bottom: -6px;
    box-shadow: 1px 1px 0 0 $black--pellucid;
}

// Popover bottom
// -------------------------

.popover--bottom {
    @extend .popover--horizontallyCentered;
    @extend .marginTop-0;
    top: 100%;
}

.popover--bottom.is-visible {
    @extend .marginTop-m;
}

.popover--bottom.has-caret:after {
    top: -6px;
    box-shadow: -1px -1px 0 0 $black--pellucid;
}

// Popover right
// -------------------------

.popover--right {
    @extend .popover--verticallyCentered;
    @extend .marginLeft-0;
    left: 100%;
}

.popover--right.is-visible {
    @extend .marginLeft-m;
}

.popover--right.has-caret:after {
    left: -6px;
    box-shadow: -1px 1px 0 0 $black--pellucid;
}

// Popover right
// -------------------------

.popover--left {
    @extend .popover--verticallyCentered;
    @extend .marginRight-0;
    right: 100%;
}

.popover--left.is-visible {
    @extend .marginRight-m;
}

.popover--left.has-caret:after {
    right: -6px;
    box-shadow: 1px -1px 0 0 $black--pellucid;
}

// Popover list
// -------------------------

.popover-list {
    @extend .textAlign-left;
}

.popover-list a {
    @extend .link;
    @extend .display-block;
    @extend .paddingBottom-m;
    @extend .paddingLeftRight-m;

    @extend .fontSize-m;
    @extend .c-slate;
    @extend .c-marvel--hover;
}

.popover-list a:first-child {
    @extend .paddingTop-m;
}

.popover-separator {
    @extend .bg-smoke;
    @extend .marginBottom-m;
    height: 1px;
}

// Popover block
// -------------------------

.popover-block {
    @extend .paddingTopBottom-m;

    @extend .bg-snow--hover;
    @extend .borderWidth-0;
    @extend .borderRightWidth-1;
    @extend .borderStyle-solid;
    @extend .borderColor-smoke;

    @extend .cursor-pointer;
    @extend .transitionProperty-all;
    @extend .transitionDuration-s;
    @extend .transitionTimingFunction-linear;

    width: 140px;
}

.popover-block:first-child {
    @extend .borderRadiusLeft-m;
}

.popover-block:last-child {
    @extend .borderWidth-0;
    @extend .borderRadiusRight-m;
}

.popover-block-icon {
    @extend .centered;
    @extend .marginBottom-s;

    width: 50px;
    height: 50px;
}
