.scrollbar::-webkit-scrollbar {
  width: 4px;
  position: relative;
  right: 2px;
}
 
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
 
.scrollbar::-webkit-scrollbar-thumb {
  background: #8492a6;
}