//
// UI with icon
// -------------------------

// Add an icon to a UI element - button, input etc.

// Icon sizes
// -------------------------

$icon-xl: 36px;
$icon-l: 30px;
$icon-m: 24px;
$icon-s: 18px;

// Root component
// -------------------------

.uiIcon {
    @extend .position-relative;
    @extend .display-inlineBlock;
    @extend .cf;
}

// Component sizes
// -------------------------

.uiIcon--xl {
    @extend .height-control--xl;
    @extend .is-loading--xl;
}

.uiIcon--l {
    @extend .height-control--l;
    @extend .is-loading--l;
}

.uiIcon--m {
    @extend .height-control--m;
    @extend .is-loading--m;
}

.uiIcon--s {
    @extend .height-control--s;
    @extend .is-loading--s;
}

.uiIcon--textarea {
    height: auto;
}

.uiIcon--xl .input,
.uiIcon--xl .button,
.uiIcon--xl .textarea,
.uiIcon--xl select {
    padding-left: $control-xl - 2;  // - 2px to account for border and font
}

.uiIcon--l .input,
.uiIcon--l .button,
.uiIcon--l .textarea,
.uiIcon--l select {
    padding-left: $control-l - 2;  // - 2px to account for border and font
}

.uiIcon--m .input,
.uiIcon--m .button,
.uiIcon--m .textarea,
.uiIcon--m select {
    padding-left: $control-m - 2;  // - 2px to account for border and font
}

.uiIcon--s .input,
.uiIcon--s .button,
.uiIcon--s .textarea,
.uiIcon--s select {
    padding-left: $control-s - 2;  // - 2px to account for border and font
}

.uiIcon--xl .svgIcon {
    margin-top: ($control-xl - $icon-xl) / 2;
    margin-left: ($control-xl - $icon-xl) / 2;
    @extend .lineHeight-control--xl;
}

.uiIcon--l .svgIcon {
    margin-top: ($control-l - $icon-l) / 2;
    margin-left: ($control-l - $icon-l) / 2;
    @extend .lineHeight-control--l;
}

.uiIcon--m .svgIcon {
    margin-top: ($control-m - $icon-m) / 2;
    margin-left: ($control-m - $icon-m) / 2;
    @extend .lineHeight-control--m;
}

.uiIcon--s .svgIcon {
    margin-top: ($control-s - $icon-s) / 2;
    margin-left: ($control-s - $icon-s) / 2;
    @extend .lineHeight-control--s;
}

// States
// -------------------------

.uiIcon.is-loading {
    @extend .is-disabled;
    @extend .position-relative;
    @extend .c-snow;
}

.uiIcon.is-loading:after {
    @extend .borderColor-silver;
    border-right-color: transparent;
}

.uiIcon.is-loading .svgIcon {
    @extend .display-none;
}

// Pseudo elements
// -------------------------

.uiIcon:after {
    @extend .pointerEvents-none;
}

.uiIcon--xl:after {
    @extend .position-absolute;
    margin: 0;
    transform: translate(0);
    top: ($control-xl - $loader-xl) / 2;
    left: ($control-xl - $loader-xl) / 2;
}

.uiIcon--l:after {
    @extend .position-absolute;
    margin: 0;
    transform: translate(0);
    top: ($control-l - $loader-l) / 2;
    left: ($control-l - $loader-l) / 2;
}

.uiIcon--m:after {
    @extend .position-absolute;
    margin: 0;
    transform: translate(0);
    top: ($control-m - $loader-m) / 2;
    left: ($control-m - $loader-m) / 2;
}

.uiIcon--s:after {
    @extend .position-absolute;
    margin: 0;
    transform: translate(0);
    top: ($control-s - $loader-s) / 2;
    left: ($control-s - $loader-s) / 2;
}

// Component child elements
// -------------------------

.uiIcon .svgIcon {
    @extend .posPinTL;
    @extend .pointerEvents-none;
}

// States
// -------------------------

.uiIcon:hover .button + .svgIcon {
    @extend .fill-white;
}

.uiIcon .input:focus + .svgIcon,
.uiIcon .textarea:focus + .svgIcon {
    @extend .fill-marvel;
}

.uiIcon .input.has-error + .svgIcon,
.uiIcon .input.has-error:focus + .svgIcon,
.uiIcon .textarea.has-error:focus + .svgIcon {
    @extend .fill-negative;
}



//
// New way of doing icons in components
// Just to clarify — those "+1s" and "-1s" are to compensate for the font
// -------------------------

$componentPadding--s: 10px;
$componentPadding--m: 12px;
$componentPadding--l: 18px;
$componentPadding--xl: 24px;

.componentIcon {
    @extend .display-inlineBlock;
}

.componentIconContainer {
    @extend .height-100;
    @extend .float-left;
    @extend .display-block;
    @extend .position-relative;

    @extend .transitionDuration-s;
    @extend .transitionProperty-all;
    @extend .transitionTimingFunction-ease-in-out;
}

// Input & textarea
// -------------------------

.componentIcon--input {
    @extend .cf;
    @extend .cursor-text;
}

.componentIcon--input .input,
.componentIcon--input .textarea {
    @extend .float-right;
    box-shadow: inset 0 1px 0 0 $smoke, inset -1px 0 0 $smoke, inset 0 -1px 0 0 $smoke;
}

.componentIcon--input .componentIconContainer {
    box-shadow: inset 0 1px 0 0 $smoke, inset 0 -1px 0 0 $smoke, inset 1px 0 0 $smoke;
}

.componentIcon--input:hover .input,
.componentIcon--input:hover .textarea {
    box-shadow: inset 0 1px 0 0 $smoke--xd, inset -1px 0 0 $smoke--xd, inset 0 -1px 0 0 $smoke--xd;
}

.componentIcon--input:hover .componentIconContainer {
    box-shadow: inset 0 1px 0 0 $smoke--xd, inset 0 -1px 0 0 $smoke--xd, inset 1px 0 0 $smoke--xd;
}

.componentIcon--input .input:focus,
.componentIcon--input .textarea:focus {
    box-shadow: inset 0 1px 0 0 $marvel, inset -1px 0 0 $marvel, inset 0 -1px 0 0 $marvel;
}

.componentIcon--input .input:focus + .componentIconContainer,
.componentIcon--input .textarea:focus + .componentIconContainer {
    box-shadow: inset 0 1px 0 0 $marvel, inset 0 -1px 0 0 $marvel, inset 1px 0 0 $marvel;
}

.componentIcon--input .input:focus + .componentIconContainer .svgIcon,
.componentIcon--input .textarea:focus + .componentIconContainer .svgIcon {
    @extend .fill-marvel;
}

// Button
// -------------------------

.componentIcon .button {
    @extend .cf;
}

// Small
// -------------------------

.componentIcon--s {
    @extend .height-control--s;
}

.componentIcon--s .button {
    @extend .button--s;
    padding-left: $componentPadding--s;
    padding-right: $componentPadding--s;
}

.componentIcon--s .input {
    @extend .borderRadiusRight-s;
    @extend .input--s;
    padding-left: $componentPadding--s - 1;
    padding-right: $componentPadding--s;
}

.componentIcon--input.componentIcon--s .componentIconContainer {
    @extend .borderRadiusLeft-s;
    padding-left: $componentPadding--s + 1;
}

.componentIcon--s:not(.componentIcon--input) .componentIconContainer {
    margin-right: $componentPadding--s - 1;
}

// Medium
// -------------------------

.componentIcon--m {
    @extend .height-control--m;
}

.componentIcon--m .button {
    @extend .button--m;
    padding-left: $componentPadding--m;
    padding-right: $componentPadding--m;
}

.componentIcon--m .input {
    @extend .borderRadiusRight-s;
    @extend .input--m;
    padding-left: $componentPadding--m - 1;
    padding-right: $componentPadding--m;
}

.componentIcon--input.componentIcon--m .componentIconContainer {
    @extend .borderRadiusLeft-s;
    padding-left: $componentPadding--m + 1;
}

.componentIcon--m:not(.componentIcon--input) .componentIconContainer {
    margin-right: $componentPadding--m - 1;
}

// Large
// -------------------------

.componentIcon--l {
    @extend .height-control--l;
}

.componentIcon--l .button {
    @extend .button--l;
    padding-left: $componentPadding--l;
    padding-right: $componentPadding--l;
}

.componentIcon--l .input {
    @extend .borderRadiusRight-m;
    @extend .input--l;
    padding-left: $componentPadding--l - 1;
    padding-right: $componentPadding--l;
}

.componentIcon--input.componentIcon--l .componentIconContainer {
    @extend .borderRadiusLeft-m;
    padding-left: $componentPadding--l + 1;
}

.componentIcon--l:not(.componentIcon--input) .componentIconContainer {
    margin-right: $componentPadding--l - 1;
}

// Extra Large
// -------------------------

.componentIcon--xl {
    @extend .height-control--xl;
}

.componentIcon--xl .button {
    @extend .button--xl;
    padding-left: $componentPadding--xl;
    padding-right: $componentPadding--xl;
}

.componentIcon--xl .input {
    @extend .borderRadiusRight-m;
    @extend .input--xl;
    padding-left: $componentPadding--xl - 1;
    padding-right: $componentPadding--xl;
}

.componentIcon--input.componentIcon--xl .componentIconContainer {
    @extend .borderRadiusLeft-m;
    padding-left: $componentPadding--xl + 1;
}

.componentIcon--xl:not(.componentIcon--input) .componentIconContainer {
    margin-right: $componentPadding--xl - 1;
}
