//
// Appearance
// -------------

.appearance-none   { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.appearance-normal { -webkit-appearance: normal; -moz-appearance: normal; appearance: normal; }
.appearance-window { -webkit-appearance: window; -moz-appearance: window; appearance: window; }
.appearance-button { -webkit-appearance: button; -moz-appearance: button; appearance: button; }
.appearance-menu   { -webkit-appearance: menu; -moz-appearance: menu; appearance: menu; }
.appearance-field  { -webkit-appearance: field; -moz-appearance: field; appearance: field; }