//
// Backface Visibility
// -------------

.backfaceVisibility-hidden  { backface-visibility: hidden; }
.backfaceVisibility-visible { backface-visibility: visible; }
.backfaceVisibility-inherit { backface-visibility: inherit; }
