//
// Font Style
// -------------

.fontStyle-normal  { font-style: normal; }
.fontStyle-italic  { font-style: italic; }
.fontStyle-oblique { font-style: oblique; }
.fontStyle-inherit { font-style: inherit; }