//
// Text Overflow
// -------------

.textOverflow-clip     { text-overflow: clip; }
.textOverflow-ellipsis { text-overflow: ellipsis; }
.textOverflow-string   { text-overflow: string; }
.textOverflow-inherit  { text-overflow: inherit; }
