//
// Text Rendering
// -------------

.textRendering-auto       { text-rendering: auto; }
.textRendering-speed      { text-rendering: optimizeSpeed; }
.textRendering-legibility { text-rendering: optimizeLegibility; }
.textRendering-precision  { text-rendering: geometricPrecision; }
